$primary: #2196f3;

.App {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1631194758628-71ec7c35137e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80") 50% fixed;
  background-size: cover;
}

input {
  margin: 10px;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(darken(#2196f3, 90%), 22.85);
}

.body-str {
  border-radius: 2px 2px 5px 5px;
  width: 100%;
  background: #ffffff;
  padding: 20px 40px 35px 40px;

}

.login {
  border-radius: 2px 2px 5px 5px;
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  position: relative;
  padding-bottom: 30px;
  opacity: 0.9;
}

h2 {
  background: -webkit-linear-gradient(0deg, rgba(179,29,181,1) 0%, rgba(50,175,150,1) 10%, rgba(60,60,167,1) 17%, rgba(42,188,218,1) 25%, rgba(39,255,0,1) 33%, rgba(205,0,255,0.7819502801120448) 41%, rgba(0,35,255,0.7819502801120448) 48%, rgba(9,255,0,0.7819502801120448) 55%, rgba(7, 97, 100, 0.782) 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


div a {
  text-decoration: none;
  color:rgb(30, 77, 230) !important;
  cursor: pointer;
}

div a:hover{
  color:red !important
}

div a:active{
  color:green !important
}